/* Omnibox drop-down translucency */
.OmniDropdown
{
  background: var(--colorBgAlpha);
  backdrop-filter: blur(10px);
}

/* Quick command menu translucency */
#modal-bg
{
  background-color: var(--colorBgAlpha);
  backdrop-filter: blur(10px);
}

/* Sets the background color to any non-selected 
 * element of the quick command menu to transparent */
#modal-bg *:not([data-selected])
{
  background-color: rgba(0,0,0,0)!important;
}

#tabs-tabbar-container.top {
  padding-top: 0;
}
