/* remove traffic lights on tab bar */

.mac #tabs-container:not(.none).top {
  padding-left: 0;
  padding-right: 0;
}

.tabs-top#browser.mac .window-buttongroup {
  display: none;
  visibility: hidden;
}
